
header {
    font-family: 'Times New Roman', Times, serif;
    color: green;
    text-align: center;
}

.list-title {
    font-family: 'Times New Roman', Times, serif;
    color:whitesmoke;
    background-color: green;
    padding: 5px;
    border: 5px solid rgb(34, 246, 1);
}


.gray-background {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    background-color: skyblue;
    margin: 10px;
    border: 0;
    padding: 2px 20px;
}

.resize-image {
    width: 150px;
    height: 108px;
    padding: 2px 20px;
}


