.inline-element {
    display: inline;
}

header {
    color: rgb(106, 106, 123);

    text-align: center;
}

.gray-background {
    background-color: grey;
}

h2 {
    color:antiquewhite;
    background-color: green;
}